@page
@model ProjectHennisJustin.Pages.Insurance.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_insurance.cshtml";
}



<h4>Want to Update Your Information?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblInsurance.InsuranceId" />
            <div class="form-group">
                <label asp-for="TblInsurance.CompanyName" class="control-label"></label>
                <input asp-for="TblInsurance.CompanyName" class="form-control" />
                <span asp-validation-for="TblInsurance.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblInsurance.Coverage" class="control-label"></label>
                <input asp-for="TblInsurance.Coverage" class="form-control" />
                <span asp-validation-for="TblInsurance.Coverage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblInsurance.GroupId" class="control-label"></label>
                <input asp-for="TblInsurance.GroupId" class="form-control" />
                <span asp-validation-for="TblInsurance.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
