@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<p>At Hope Hospital, we are committed to protecting the privacy and confidentiality of our patients' personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website or utilize our services.</p>

<h2>Information We Collect:</h2>
<ul>
    <li>Personal Information: When you visit our website, we may collect personal information such as your name, email address, phone number, and other relevant contact details if you choose to provide them voluntarily.</li>
    <li>Non-Personal Information: We may also collect non-personal information automatically, such as your IP address, browser type, operating system, and browsing preferences through cookies and similar technologies.</li>
</ul>

<h2>How We Use Your Information:</h2>
<ul>
    <li>Personal Information: We use the personal information you provide to respond to your inquiries, process your requests for appointments, send you relevant information about our services, and improve our website and services.</li>
    <li>Non-Personal Information: Non-personal information is used to analyze trends, administer the website, track user movements, and gather demographic information for aggregate use.</li>
</ul>

<h2>Information Sharing and Disclosure:</h2>
<ul>
    <li>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as required by law or to protect our rights.</li>
    <li>We may share your information with trusted third-party service providers who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.</li>
    <li>Non-personal information may be shared with third-party analytics services to improve our website and services.</li>
</ul>

<h2>Data Security:</h2>
<ul>
    <li>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your information.</li>
    <li>We use encryption technology to protect sensitive information transmitted online.</li>
</ul>

<h2>Your Choices:</h2>
<ul>
    <li>You have the right to review, update, or delete your personal information at any time by contacting us.</li>
    <li>You may opt out of receiving marketing communications from us by following the unsubscribe instructions provided in the emails.</li>
</ul>

<h2>Changes to This Privacy Policy:</h2>
<ul>
    <li>We reserve the right to modify this Privacy Policy at any time, so please review it frequently.</li>
    <li>Changes and clarifications will take effect immediately upon their posting on the website.</li>
</ul>

<p>By using our website, you consent to the terms of this Privacy Policy.</p>

<p>If you have any questions or concerns about this Privacy Policy, please contact us at [Contact Information].</p>

<p>Last Updated: 5/11/2024</p>
